<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/users/admin/search}" th:method="GET">
    <label for="username">Search user by username:</label>
    <input type="text" id="username" name="username">
    <label for="firstName">Search user by first name:</label>
    <input type="text" id="firstName" name="firstName">
    <label for="lastName">Search user by last name:</label>
    <input type="text" id="lastName" name="lastName">
    <input type="submit" value="Search">
</form>
<div th:object="${adminInfo}">
    <p th:text="|Total users registered: *{registeredUsers}|"></p>
    <p th:text="|Last registered user: *{lastRegisteredUser.firstName} *{lastRegisteredUser.lastName} username: *{lastRegisteredUser.username}, registered on *{lastRegisteredUser.getRegistrationDate()}|"></p>
    <p th:text="|Total active bands: *{getActiveBands()}|"></p>
    <p th:text="|Total deleted bands: *{getDeletedBands()}|"></p>
    <p th:text="|Last registered band: *{lastRegisteredBand.name}, registered on *{lastRegisteredBand.getRegistrationDate()}|"></p>
</div>
<h2 th:unless="${errRole} == null" th:text="${errRole}"></h2>
<th:block th:unless="${users} == null">
    <h3 th:if="${#lists.size(users) == 0}" th:text="No users found!"></h3>
    <th:block th:each="u : ${users}">
        <div>
            <span th:text="|${u.getFirstName()} |"></span>
            <span th:text="|${u.getLastName()} |"></span>
            <span th:text="${u.getUsername()}"></span>
            <label for="user-roles">User roles: </label>
            <select id="user-roles" name="userRoles">
                <th:block th:each="r : ${u.getAuthorities()}">
                    <option th:text="${r.name()}"></option>
                </th:block>
            </select>
            <form th:action="@{/users/admin/addRole/{id}(id=${u.getId()})}" th:method="POST">
                <select name="role">
                    <option value="">Select new Role</option>
                    <th:block th:each="r : ${T(rockwithme.app.model.entity.Role).values()}">
                        <option th:name="role" th:unless="${#sets.contains(u.getAuthorities(),r)}" th:text="${r.name()}"
                                th:value="${r}"></option>
                    </th:block>
                </select>
                <input type="submit" value="Add role">
            </form>
            <form th:action="@{/users/admin/removeRole/{id}(id=${u.getId()})}" th:method="POST">
                <select name="role">
                    <option value="">Select Role to remove</option>
                    <th:block th:each="r : ${u.getAuthorities()}">
                        <option th:name="role" th:text="${r.name()}" th:value="${r}"></option>
                    </th:block>
                </select>
                <input type="submit" value="Add role">
            </form>
        </div>
    </th:block>
</th:block>

</body>
</html>