<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{/fragments/head::head('RockWithMe')}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{/fragments/nav}"></th:block>
</header>
<form class="mx-auto w-25 p-3 my-bcg rounded mt-5 border border-secondary" th:object="${bandRegister}"
      th:action="@{/bands/register}"
      th:method="POST">
    <fieldset>
        <div class="form-group text-center text-white">
            <div>
                <label for="name">Band name</label>
                <input class="form-control text-dark" placeholder="Band name" type="text" name="name" id="name"
                       th:value="*{name} != null ? *{name} : ''">
                <div th:if="${#fields.hasErrors('name')}">
                    <th:block th:each="e : ${#fields.errors('name')}">
                        <small th:text="${e}" class="text-danger"></small>
                    </th:block>
                </div>
            </div>
            <div>
                <div class="input-group">
                    <select class="custom-select mt-2" id="instruments" name="instrument">
                        <option class="text-center" value="">--Add band instruments--</option>
                        <th:block th:each="i : ${T(rockwithme.app.model.entity.InstrumentEnum).values()}">
                            <option class="text-center" th:text="${#strings.capitalize(#strings.toLowerCase(i.name()))}"
                                    th:value="${i}" }>
                                Instrument
                            </option>
                        </th:block>
                    </select>
                    <button class="btn btn-secondary mt-2" type="submit" name="action" value="addInstr"
                            th:formaction="@{/bands/register/addInstr}">Add
                    </button>
                    <div th:if="${#fields.hasErrors('instruments')}">
                        <th:block th:each="e : ${#fields.errors('instruments')}">
                            <small th:text="${e}" class="text-danger"></small>
                        </th:block>
                    </div>
                </div>
                <div id="instrumentsContainer">
                    <th:block th:unless="${#lists.size(#session.getAttribute('bandInstruments')) == 0}">
                        <div class="border border-secondary m-2">
                            <small class="small text-center mt-2">Selected instruments:</small>
                            <div class="border border-secondary rounded m-2 select-item"
                                 th:each="i : ${#session.getAttribute('bandInstruments')}">
                                <span class="ml-3"
                                      th:text="${#strings.capitalize(#strings.toLowerCase(i.name()))}"></span>
                                <button class="btn btn-secondary btn-sm" type="submit" name="action" value="addInstr"
                                        th:formaction="@{/bands/register/removeInstr(instr=${i})}">Remove
                                </button>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <div>
                <div class="input-group">
                    <select class="custom-select mt-2" id="style" name="style">
                        <option value="">--Select Style--</option>
                        <th:block th:each="s : ${T(rockwithme.app.model.entity.Style).values()}">
                            <option th:text="${#strings.capitalize(#strings.toLowerCase(#strings.replace(s.name(),'_',' ')))}"
                                    th:value="${s}">Style
                            </option>
                        </th:block>
                    </select>
                    <button class="btn btn-secondary mt-2" type="submit" th:formaction="@{/bands/register/addStyle}">
                        Add
                    </button>
                    <div th:if="${#fields.hasErrors('styles')}">
                        <th:block th:each="e : ${#fields.errors('styles')}">
                            <small th:text="${e}" class="text-danger"></small>
                        </th:block>
                    </div>
                </div>
                <div id="stylesContainer">
                    <th:block th:each="s : ${#session.getAttribute('bandStyles')}">
                        <div class="border border-secondary m-2">
                            <small class="small text-center mt-2">Selected styles:</small>
                            <div class="border border-secondary rounded m-2 select-item">
                            <span class="ml-3"
                                  th:text="${#strings.capitalize(#strings.toLowerCase(#strings.replace(s.name(),'_',' ')))}"></span>
                                <button class="btn btn-secondary btn-sm" type="submit" name="action" value="addInstr"
                                        th:formaction="@{/bands/register/removeStyle(style=${s})}">
                                    Remove
                                </button>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <fieldset class="form-group text-left border border-secondary rounded mt-3">
                <div class="form-check ml-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" id="hasStudio" name="hasStudio"
                               th:value="*{hasStudio}"/>
                        Has own studio
                    </label>
                </div>
                <div class="form-check ml-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" id="noStudio" name="hasStudio" value="false"
                               checked/>
                        Doesn't have own studio
                    </label>
                </div>
                <div th:if="${#fields.hasErrors('hasStudio')}">
                    <th:block th:each="e : ${#fields.errors('hasStudio')}">
                        <small th:text="${e}" class="text-danger"></small>
                    </th:block>
                </div>
            </fieldset>

            <fieldset class="form-group text-left border border-secondary rounded mt-3">
                <div class="form-check ml-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" id="needsProducer" name="needsProducer"
                               value="true">
                        Needs Producer
                    </label>
                </div>
                <div class="form-check ml-3">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" id="noNeedsProducer" name="needsProducer"
                               value="false" checked>
                        Doesn't need producer
                    </label>
                </div>
                <div th:if="${#fields.hasErrors('needsProducer')}">
                    <th:block th:each="e : ${#fields.errors('needsProducer')}">
                        <small th:text="${e}" class="text-danger"></small>
                    </th:block>
                </div>
            </fieldset>

            <div>
                <div class="input-group">
                    <select class="custom-select mt-2 text-center" id="goal" name="goal">
                        <option value="">--Select Goal--</option>
                        <th:block th:each="g : ${T(rockwithme.app.model.entity.Goal).values()}">
                            <option th:text="${#strings.capitalize(#strings.toLowerCase(#strings.replace(g.name(),'_',' ')))}"
                                    th:value="${g}">Goal
                            </option>
                        </th:block>
                    </select>
                    <button class="btn btn-secondary mt-2" type="submit" th:formaction="@{/bands/register/addGoal}">
                        Add
                    </button>
                    <div th:if="${#fields.hasErrors('goals')}">
                        <th:block th:each="e : ${#fields.errors('goals')}">
                            <small th:text="${e}" class="text-danger"></small>
                        </th:block>
                    </div>
                </div>
                <div id="goalsContainer">
                    <th:block th:unless="${#sets.size(#session.getAttribute('bandGoals')) == 0}">
                        <div class="border border-secondary m-2">
                            <small class="small text-center mt-2">Selected goals:</small>
                            <div class="border border-secondary rounded m-2 select-item"
                                 th:each="g : ${#session.getAttribute('bandGoals')}">
                            <span class="ml-3"
                                  th:text="${#strings.capitalize(#strings.toLowerCase(#strings.replace(g.name(),'_',' ')))}"></span>
                                <button class="btn btn-secondary btn-sm" type="submit" name="action" value="addInstr"
                                        th:formaction="@{/bands/register/removeGoal(goal=${g})}">Remove
                                </button>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>

            <div>
                <label for="town">Town</label>
                <select class="custom-select mt-2 text-center" id="town" name="town">
                    <option value="">--Select Town--</option>
                    <th:block th:each="t : ${T(rockwithme.app.model.entity.Town).values()}">
                        <option th:text="${#strings.capitalize(#strings.toLowerCase(#strings.replace(t.name(),'_',' ')))}"
                                th:value="${t}" th:selected="${t.name()} == ${bandRegister.town}">
                            town
                        </option>
                    </th:block>
                </select>
                <div th:if="${#fields.hasErrors('town')}">
                    <th:block th:each="e : ${#fields.errors('town')}">
                        <small th:text="${e}" class="text-danger"></small>
                    </th:block>
                </div>
            </div>
            <div>
                <label for="founder-instrument">Founder instrument:</label>
                <select class="custom-select mt-2 text-center" id="founder-instrument" name="founderInstrument">
                    <option value="">--Select your instrument--</option>
                    <th:block th:each="i : ${founderInstruments}">
                        <option th:text="${#strings.capitalize(#strings.toLowerCase(i.name()))}" th:value="${i}"
                                th:selected="${i.name()} == ${bandRegister.founderInstrument}">Founder instrument
                        </option>
                    </th:block>
                </select>
                <div th:if="${#fields.hasErrors('founderInstrument')}">
                    <th:block th:each="e : ${#fields.errors('founderInstrument')}">
                        <small th:text="${e}" class="text-danger"></small>
                    </th:block>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description"></textarea>
                <div th:if="${#fields.hasErrors('description')}">
                    <th:block th:each="e : ${#fields.errors('description')}">
                        <small th:text="${e}" class="text-danger"></small>
                    </th:block>
                </div>
            </div>
            <button class="btn btn-secondary mt-3" type="submit" name="action" id="btnRegister"
                    value="registerBand">
                Register Band
            </button>
        </div>
    </fieldset>
</form>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>