<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Title</title>
</head>
<body>
<div th:object="${bandDetails}">
    <span th:text="|Band name: *{name} |">Band name</span>
    <th:block th:each="m : *{members}">
        <div>
            <span th:text="|${m.username} plays th ${m.instrumentEnum}|"></span>
        </div>
    </th:block>
    <th:block th:if="*{producer}">
        <span th:text="|Producer *{producer}|"></span>
        <br>
    </th:block>
    <span th:each="s : *{styles}" th:text="${s} "></span>
    <span th:each="g : *{goals}" th:text="${g} "></span>
    <span th:text="|Town: *{town}, |"></span>
    <br>
    <span th:text="*{needsProducer} ? 'The band needs producer' : 'The bands does not need producer'"></span>
    <br>
    <span th:text="*{needMembers} ? 'The band needs members for:' : 'The band is full'"/>
    <th:block th:if="*{needMembers}">
        <p th:each="i : *{getInstrumentsNeeded()}" th:text="${i.name()}"></p>
    </th:block>
    <th:block th:each="e : *{getEvents()}">
        <span th:text="${e.getEventCategory()}"> </span>
        <span th:text="|Date: ${#temporals.format(e.getEventDate(), 'dd-MMM-yyyy HH:mm')}|"></span>
        <div>
            <span th:text="${e.description}"></span>
        </div>
    </th:block>
    <th:block th:unless="${inMyBands}">
        <th:block sec:authorize="hasAuthority('PLAYER')">
            <div>
                <button id="join-band" type="submit">Join the band</button>
            </div>
            <div id="join" class="hidden">
                <form th:object="${joinBand}" th:action="@{/bands/join}" th:method="POST">
                    <input type="hidden" name="bandId" th:value="${bandDetails.id}">
                    <select th:field="*{instrument}" name="instrument">
                        <option value="">Select instrument</option>
                        <th:block th:each="i : ${bandDetails.getInstrumentsNeeded()}">
                            <option th:text="${i.name()}" th:value="${i}"></option>
                        </th:block>
                    </select>
                    <textarea th:field="*{description}" name="description"></textarea>
                    <input type="hidden" name="becomeProducer" value="false">
                    <input type="submit" value="Request to join"/>
                </form>
            </div>
        </th:block>
        <th:block th:if="*{needsProducer}" sec:authorize="hasAuthority('PRODUCER')">
            <form th:object="${joinBandProducer}" th:action="@{/bands/join}" th:method="POST">
                <input type="hidden" name="bandId" th:value="${bandDetails.id}">
                <input type="hidden" name="becomeProducer" value="true">
                <input type="submit" value="Request to become producer"/>
            </form>
        </th:block>
    </th:block>
    <th:block th:if="${inMyBands}">
        <p>You are member of the band!</p>
    </th:block>
</div>
<script type="text/javascript" th:src="@{/js/joinBand.js}"></script>
</body>
</html>