<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{/fragments/head::head('Login')}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{/fragments/nav}"></th:block>
</header>
<form class="mx-auto w-25 p-3 rounded mt-5 border border-secondary my-bcg" th:method="POST" th:action="@{/login/authenticate}">
    <fieldset>
        <div class="form-group text-center text-white">
            <th:block th:if="${error}">
                <h4 th:text="${error}" class="text-danger"></h4>
            </th:block>
            <label for="username" class="text-center">Username</label>
            <input type="text" name="username" id="username" th:value="${username}" class="form-control text-dark" placeholder="Username">
            <label for="password" class="text-center">Password</label>
            <input type="password" name="password" id="password" class="form-control text-dark" placeholder="Password">
            <div class="text-center">
                <button type="submit" class="btn btn-secondary mt-3">Login</button>
            </div>
        </div>
    </fieldset>
</form>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>