<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{/fragments/head::head('RockWithMe')}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{/fragments/nav}"></th:block>
</header>
<main class="container">
    <div class="d-flex flex-column align-items-center" th:object="${myBand}">
        <h2 class="container-fluid w-75 bg-dark border border-secondary rounded text-center text-light p-2 mt-3 mb-3"
            th:text="*{name}"></h2>
        <div class="container-fluid d-flex flex-row border border-secondary p-3 mt-3 rounded-lg my-bcg-2">
            <div class="text-center w-50">
                <img class="img-fluid border border-secondary rounded"
                     th:src="${myBand.imgUrl} == null ? '/uploads/band.jpg' : *{imgUrl}">
            </div>
            <div class="d-flex flex-column justify-content-between text-white text-center w-50">
                <div>
                    <h3>Members</h3>
                    <th:block th:each="m : *{members}">
                        <div class="d-flex flex-row justify-content-lg-between mt-1 pl-3 pr-3 border-bottom border-secondary">
                            <h4 th:text="|${m.username} - ${#strings.toLowerCase(m.instrumentEnum.name())}|"></h4>
                            <form th:object="${removeMember}" th:action="@{/bands/myBands/remove/}" th:method="POST">
                                <input type="hidden" name="bandId" th:value="${myBand.id}">
                                <input type="hidden" name="username" th:value="${m.username}">
                                <input type="hidden" name="instrument" th:value="${m.instrumentEnum}">
                                <button class="btn bg-secondary btn-sm text-light" type="submit" value="Remove member">
                                    Remove member
                                </button>
                            </form>
                        </div>
                    </th:block>
                    <th:block th:unless="*{producer == null}">
                        <div class="d-flex flex-row justify-content-lg-between mt-1 pl-3 pr-3 border-bottom border-secondary">
                            <h4 th:text="|*{producer} - producer|"></h4>
                            <form th:object="${removeProducer}" th:action="@{/bands/myBands/remove/producer}"
                                  th:method="POST">
                                <input type="hidden" name="bandId" th:value="${myBand.id}">
                                <input type="hidden" name="producerUsername" th:value="${myBand.producer}">
                                <button class="btn bg-secondary btn-sm text-light" type="submit" value="Remove member">
                                    Remove member
                                </button>
                            </form>
                        </div>
                    </th:block>
                </div>
                <div>
                    <div class="container">
                        <form class="form-group d-flex flex-row justify-content-start"
                              th:action="@{/bands/myBands/addPhoto/{id}(id=*{id})}"
                              th:method="POST"
                              enctype="multipart/form-data">

                            <div class="custom-file w-50">
                                <div class="input-group">
                                    <input type="file" id="file" name="file"
                                           class="form-control-file border border-secondary text-light"
                                           th:value="*{imgUrl}"/>
                                    <button class="w-100 btn btn-secondary btn-sm" type="submit">Upload picture</button>
                                </div>
                            </div>

                            <th:block th:if="${maxFileExceeded} != null">
                                <small> Max file size exceeded! Max size is 128KB!</small>
                            </th:block>
                            <th:block th:if="${fileError} != null">
                                <small th:text="${fileError}"></small>
                            </th:block>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:unless="${#sets.size(myBand.requests) == 0}"
             class="container-fluid mt-3 p-3 d-flex flex-row justify-content-center">
            <table class="table table-hover m-2">
                <thead class="bg-primary font-weight-bold text-center">
                <tr>
                    <th scope="col">Join requests</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="r : ${myBand.requests}" th:object="${r}">
                    <tr class="my-bcg-3">
                        <td>
                            <div class="d-flex flex-row justify-content-between mt-1 mb-1 p-1">
                                <a th:href="@{/users/details(id=${r.getUserId()})}">
                                    <span th:text="|Player username: *{username} |"></span>
                                    <th:block th:unless="*{isBecomeProducer()}">
                                        <span th:text="|wants to join you on the ${#strings.toLowerCase(r.instrument)} |"></span>
                                    </th:block>
                                    <th:block th:if="*{isBecomeProducer()}">
                                        <span>wants to become a producer </span>
                                    </th:block>
                                    <span th:text="*{isClosed()} ? ' - The request is closed!' : ' - The request is open!'"></span>
                                </a>
                                <th:block th:unless="*{isClosed()}">
                                    <form class="text-light mb-0" th:action="@{/bands/add/{request}(request=${r.id})}"
                                          th:method="POST">
                                        <input class="mb-0" type="radio" id="addMember" name="addMember" value="true">
                                        <label class="m-0" for="addMember">Approve</label>
                                        <input class="mb-0" type="radio" id="rejectMembership" name="addMember"
                                               value="false">
                                        <label class="m-0" for="rejectMembership">Reject</label>
                                        <button class="btn btn-secondary btn-sm" type="submit">Confirm</button>
                                    </form>
                                </th:block>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="container-fluid border border-secondary rounded mt-3 p-3 d-flex flex-row justify-content-lg-around">
            <div class="ml-3">
                <a th:href="@{/bands/events/create(bandId=*{id})}"><h5>Create event</h5></a>
            </div>
            <div>
                <a th:href="@{/bands/events(bandId=${myBand.id}, upcoming=true)}"><h5>Upcoming events</h5></a>
            </div>
            <div class="mr-3">
                <a th:href="@{/bands/events(bandId=${myBand.id}, upcoming=false)}"><h5>Past events</h5></a>
            </div>
        </div>
        <th:block th:unless="${upcomingEvents} == null">
            <th:block th:each="e : ${upcomingEvents}">
                <div class="container-fluid d-flex flex-column mt-3 pb-1 border-bottom border-light text-light">
                    <div class="container-fluid d-flex flex-row justify-content-lg-between align-items-center">
                        <div>
                            <span th:text="|${#strings.capitalize(#strings.toLowerCase(#strings.replace(e.getEventType().name(), '_', ' ')))} event |"></span>
                            <span th:text="${e.getEventCategory()}"> </span>
                            <span th:text="|Date: ${#temporals.format(e.getEventDate(), 'dd-MMM-yyyy HH:mm')}h|"></span>
                        </div>
                        <div class="d-flex flex-row justify-content-end align-items-center">
                            <th:block th:if="${e.canceled == false}">
                                <div class="ml-2 mr-2">
                                    <a th:href="@{/bands/events/update(id=${e.id})}">Update event</a>
                                </div>
                            </th:block>
                            <th:block th:unless="${e.canceled}">
                                <form class="mr-2" th:action="@{/bands/events/cancel/{id}(id=${e.id})}"
                                      th:method="DELETE">
                                    <button class="btn btn-secondary btn-sm" type="submit" value="Cancel event">Cancel
                                        event
                                    </button>
                                </form>
                            </th:block>
                            <span th:if="${e.canceled}" th:text="CANCELED"></span>
                        </div>
                    </div>
                    <div class="container-fluid d-flex flex-row justify-content-start align-items-center">
                        <span th:text="${e.description}"></span>
                    </div>
                </div>
            </th:block>
        </th:block>
        <th:block th:unless="${pastEvents} == null">
            <th:block th:each="e : ${pastEvents}">
                <div class="container-fluid d-flex flex-column mt-3 pb-1 border-bottom border-light text-light">
                    <div class="container-fluid d-flex flex-row justify-content-lg-between align-items-center">
                        <div>
                            <span th:text="|${#strings.capitalize(#strings.toLowerCase(#strings.replace(e.getEventType().name(), '_', ' ')))} event |"></span>
                            <span th:text="${e.getEventCategory()}"> </span>
                            <span th:text="|Date: ${#temporals.format(e.getEventDate(), 'dd-MMM-yyyy HH:mm')}h |"></span>
                            <span th:if="${e.canceled}" th:text="CANCELED"></span>
                        </div>
                    </div>
                    <div class="container-fluid d-flex flex-row justify-content-start align-items-center">
                        <span th:text="${e.description}"></span>
                    </div>
                </div>
            </th:block>
        </th:block>
    </div>
</main>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>