<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:object="${myBand}">
    <p th:text="*{name}"></p>
    <th:block th:each="r : ${myBand.requests}" th:object="${r}">
        <div>
            <a th:href="@{/users/details(id=${r.getUserId()})}">
                <span th:text="|Player username: *{username} |"></span>
                <th:block th:unless="*{isBecomeProducer()}">
                    <span th:text="|Applies for *{instrument} |"></span>
                </th:block>
                <th:block th:if="*{isBecomeProducer()}">
                    <span>Wants to become a producer</span>
                </th:block>
                <span th:type="*{isClosed()} ? 'The request is closed!' : 'The request is open!'">
            </a>
            <th:block th:unless="*{isClosed()}">
                <form th:action="@{/bands/add/{request}(request=${r.id})}" th:method="POST">
                    <input type="radio" id="addMember" name="addMember" value="true">
                    <label for="addMember">Approve</label>
                    <input type="radio" id="rejectMembership" name="addMember" value="false">
                    <label for="rejectMembership">Reject</label>
                    <button type="submit">Confirm</button>
                </form>
            </th:block>
        </div>
    </th:block>
</div>

</body>
</html>