<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{/fragments/head::head('RockWithMe')}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{/fragments/nav}"></th:block>
</header>
<form th:action="@{/bands/search}" th:method="GET">
    <div>
        <div>
            <span>Search</span>
        </div>
        <label for="name">Band name:</label>
        <input type="text" name="name" id="name"/>
        <select id="style" name="style">
            <option value="">Select style</option>
            <th:block th:each="s : ${T(rockwithme.app.model.entity.Style).values()}">
                <option th:text="${s.name()}" th:value="${s}"></option>
            </th:block>
        </select>
        <select id="goal" name="goal">
            <option value="">Select goal</option>
            <th:block th:each="g : ${T(rockwithme.app.model.entity.Goal).values()}">
                <option th:text="${g.name()}" th:value="${g}"></option>
            </th:block>
        </select>
        <select id="town" name="town">
            <option value="">Select town</option>
            <th:block th:each="t : ${T(rockwithme.app.model.entity.Town).values()}">
                <option th:text="${t.name()}" th:value="${t}"></option>
            </th:block>
        </select>
        <select id="needMembers" name="needMembers">
            <option value="">Select needed members</option>
            <option value="true">Members are needed</option>
            <option value="false">Members are not needed</option>
        </select>
        <select id="needsProducer" name="needsProducer">
            <option value="">Select needs producer</option>
            <option value="true">Producer is needed</option>
            <option value="false">Producer is not needed</option>
        </select>
    </div>
    <input id="btnSearch" type="submit" value="Search"/>
</form>
<div>
    <form th:action="@{/users/search}" th:method="GET">
        <div>
            <div>
                <span>Search</span>
            </div>
            <select id="instrument" name="instrument">
                <option value="">Select instrument</option>
                <th:block th:each="i : ${T(rockwithme.app.model.entity.InstrumentEnum).values()}">
                    <option th:text="${i.name()}" th:value="${i}"></option>
                </th:block>
            </select>
            <select id="level" name="level">
                <option value="">Select level</option>
                <th:block th:each="l : ${T(rockwithme.app.model.entity.Level).values()}">
                    <option th:text="${l.name()}" th:value="${l}"></option>
                </th:block>
            </select>
        </div>
        <input id="btnSearchPlayer" type="submit" value="Search"/>
    </form>
</div>

<div id="search-container"></div>
<div id="pagination"></div>
<footer th:replace="~{/fragments/footer}"></footer>
<script type="text/javascript" th:src="@{/js/bandSearch.js}"></script>
<script type="text/javascript" th:src="@{/js/userSearch.js}"></script>
</body>
</html>