<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:object="${userUpdateDTO}" th:action="@{/users/update}" enctype="multipart/form-data">
    <div>
        <span th:text="|First name: ${userMyDetailsDTO.firstName}|"></span>
        <br>
        <label for="firstName">Change first name</label>
        <input th:field="*{firstName}" type="text" name="firstName" id="firstName"/>
    </div>
    <div>
        <span th:text="|Last name: ${userMyDetailsDTO.lastName}|"></span>
        <br>
        <label for="firstName">Change last name</label>
        <input th:field="*{lastName}" type="text" name="lastName" id="lastName"/>
    </div>
    <div>
        <span th:text="|Town: ${userMyDetailsDTO.town.name()}|"></span>
        <br>
        <label for="town">Change town:</label>
        <select th:field="*{town}" name="town" id="town">
            <option value="">Select Town</option>
            <th:block th:each="t : ${T(rockwithme.app.model.entity.Town).values()}">
                <option th:text="${t.name()}" th:value="${t}"></option>
            </th:block>
        </select>
    </div>
    <div>
        <span th:text="|Age: ${userMyDetailsDTO.age}|"></span>
        <br>
        <label for="age">Update age:</label>
        <input th:field="*{age}" type="number" name="age" id="age"/>
    </div>

    <div>
        <input type="file" id="file" name="file" class="custom-file-input" th:value="*{imgUrl}"/>
    </div>

    <input type="submit" value="Update player">
</form>
<div>
<form th:object="${changePassword}" th:method="POST" th:action="@{/users/changePass}">
    <label for="oldPassword">Enter current password:</label>
    <input id="oldPassword" type="password" th:field="*{oldPassword}">
    <label for="newPassword">Enter new password:</label>
    <input id="newPassword" type="password" th:field="*{newPassword}">
    <label for="confirmNewPassword">Confirm new password:</label>
    <input id="confirmNewPassword" type="password" th:field="*{confirmNewPassword}">
    <input type="submit" value="Change password">
</form>
</div>
</body>
</html>