<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head::head('RockWithMe')}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/nav}"></th:block>
</header>
<main class="container">
<div class="d-flex flex-column align-items-center"th:object="${userPublicDetails}" >
    <h2 class="container-fluid w-75 bg-dark border border-secondary rounded text-center text-light p-2 mt-3 mb-3"
        th:text="*{username}"></h2>
    <div class="container-fluid d-flex flex-row border border-secondary p-3 mt-3 rounded-lg my-bcg">
        <div class="text-center w-50">
            <img class="img-fluid border border-secondary rounded"
                 th:src="*{imgUrl} == null ? '/img/player.jpg' : *{imgUrl}">
        </div>
        <div class="d-flex flex-column justify-content-between text-white text-center pl-3 pr-3 w-50">
            <div>
                <p th:text="|First name: *{firstName}|"></p>
                <p th:text="|Last name: *{lastName}|"></p>
                <p th:text="|From *{#strings.capitalize(#strings.toLowerCase(#strings.replace(town, '_', ' ')))}|"></p>
                <th:block th:if="*{age > 0}">
                    <p th:text="|Age *{age}|"></p>
                </th:block>
                <h4>Skills:</h4>
                <th:block th:each="s : ${userSkills}">
                    <div>
                        <span th:text="|Instrument: ${#strings.toLowerCase(s.instrument)} level ${s.level} plays for ${s.yearsPlaying} years in ${s.bandPlayed} bands|"></span>
                    </div>
                </th:block>
                <h4>Plays in: </h4>
                <th:block th:each="b : ${userPublicDetails.bands}">
                    <ul>
                        <a th:href="@{/bands/details/{id}(id=${b.id})}">
                            <li>
                                <span class="border-bottom border-secondary" th:text="${b.name}"></span>
                            </li>
                        </a>
                    </ul>
                </th:block>
            </div>
        </div>
    </div>

</div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>